# Ignore compiled python files
*.pyc
*.py~
*.py#
*.#*
*.*~
*.ipynb
*.png
*.pdf
./datasets/finance/finance_adj_close.csv
./datasets/finance/finance_sectors.csv

./test.py

# Ignore distribution files
/dist/

# Ignore egg emtadata 
/*.egg-info
/*.egg